<div class="container border mt-3 p-2">
  <h1 class="mt-4">Report a Pet</h1>
  <%= simple_form_for @pet do |form| %>
    <%= form.input :name, label: 'Name' %>
    <%= form.input :species, collection: Pet::SPECIES, label: 'Species' %>
    <%= form.input :address, label: 'Address' %>
    <%= form.input :found_on, as: :date, label: 'Found On' %>
    <%= form.button :submit, class: 'btn btn-primary w-100' %>
  <% end %>
</div>
